<div class="container-fluid list">
    <div class="row">
        <ng-container *ngFor="let item of list">
            <div class="col-3" (dblclick)="onVideoItemDoubleClick(item)">
                <div class="card card-block shadow bg-white rounded my-2">
                    <jhi-videoitem [item]="item"></jhi-videoitem>
                    <div class="card-body px-2 py-1">
                        <div class="row m-1">
                            <div class="title">{{item.name}}</div>
                        </div>
                        <div class="row m-1">
                            <div class="mr-auto">
                                <div class="price">${{item.indianPrice}}</div>
                            </div>
                            <div class="ml-auto">
<!--                                <fa-icon class="px-2" icon="heart"></fa-icon>-->
                                <!--<fa-icon style="" class="px-2" icon="shopping-cart"></fa-icon>-->
                                <svg-icon name="fav" [svgStyle]="{ 'width.px':'25','color':'#FF6B69' }"></svg-icon>
                                <svg-icon name="cart" [svgStyle]="{ 'width.px':'25','color':'#5ECBA1' }" (click)="onVideoItemClick(item)"></svg-icon>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
