<ng-container *ngIf="data.actionId==='renameCategory'">
    <h1 mat-dialog-title>Rename Category</h1>
    <div class="text-danger" *ngIf="error">{{error}}</div>
    <div mat-dialog-content>
        <p>Enter new name</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.newName">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close(false)">Discard</button>
        <button mat-button  (click)="rename()" cdkFocusInitial>Ok</button>
    </div>
</ng-container>
<ng-container *ngIf="data.actionId==='renameSubCategory'">
    <div class="text-danger" *ngIf="error">{{error}}</div>
    <h1 mat-dialog-title>Rename Sub Category</h1>
    <div mat-dialog-content>
        <p>Enter new name</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.newName">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close(false)">Discard</button>
        <button mat-button (click)="rename()" cdkFocusInitial>Ok</button>
    </div>
</ng-container>
<ng-container *ngIf="data.actionId==='createCategory'">
    <h1 mat-dialog-title>Create Category</h1>
    <div class="text-danger" *ngIf="error">{{error}}</div>
    <div mat-dialog-content>
        <p>Enter New Category Name</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.newName">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close(false)">Discard</button>
        <button mat-button (click)="createCategory()" cdkFocusInitial>Ok</button>
    </div>
</ng-container>
<ng-container *ngIf="data.actionId==='createSubCategory'">
    <h1 mat-dialog-title>Create Sub Category</h1>
    <div class="text-danger" *ngIf="error">{{error}}</div>
    <div mat-dialog-content>
        <p>Enter Sub Category Name</p>
        <mat-form-field>
            {{data.node.name}} : <input matInput [(ngModel)]="data.newName">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close(false)">Discard</button>
        <button mat-button (click)="createSubCategory()" cdkFocusInitial>Ok</button>
    </div>
</ng-container>

