<div>
    <div class="material-icons minimize-icon" (click)="hideOverview()">minimize</div>

<!--    <ng-container *ngIf="dashboardType==='main'">-->
<!--        <div class="mt-3">-->
<!--            <h5 class="heading">Top Sellers</h5>-->
<!--        </div>-->
<!--        <div class="mt-4">-->
<!--            <div *ngFor="let topSeller of topSellers">-->
<!--                <div class="row sale-label mr-5">-->
<!--                    <div class="col-10 sale-label">{{ topSeller.name }}</div>-->
<!--                    <div class="col-2 sale-amount">{{ topSeller.amount }}</div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="mt-3">-->
<!--            <h5 class="heading">Top Earnings</h5>-->
<!--        </div>-->
<!--        <div class="mt-4">-->
<!--            <div *ngFor="let topSeller of topSellers">-->
<!--                <div class="row sale-label mr-5">-->
<!--                    <div class="col-10 sale-label">{{ topSeller.name }}</div>-->
<!--                    <div class="col-2 sale-amount">{{ topSeller.amount }}</div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="mt-3">-->
<!--            <h5 class="heading">Most Views</h5>-->
<!--        </div>-->
<!--        <div class="mt-4">-->
<!--            <div *ngFor="let topSeller of topSellers">-->
<!--                <div class="row sale-label mr-5">-->
<!--                    <div class="col-10 sale-label">{{ topSeller.name }}</div>-->
<!--                    <div class="col-2 sale-amount">{{ topSeller.amount }}</div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </ng-container>-->
    <ng-container *ngIf="overviewTemplate">
        <ng-template [ngTemplateOutletContext]="{
                                data: overviewData
                              }" [ngTemplateOutlet]="overviewTemplate">
        </ng-template>
    </ng-container>


</div>
