.heading {
  font-weight: bold;
  color: #43497b;
}
.sale-label {
  color: #828599;
  font-size: x-small;
  margin-top: 0.3rem;
}
.sale-amount {
  color: #7175d8;
  font-weight: bold;
  font-size: x-small;
}
