<div class="bg-white rounded pt-2 px-4">
    <div class="row">
        <div class="col-4">
            <div class="row row align-items-center">
                <div class="p-2">
                    Slide 01
                </div>
                <div class="image">
                    +
                </div>
            </div>
        </div>
        <div class="col-8">
            <ng-container *ngFor="let si of slideItems;let i = index">
                <jhi-admin-upload-form-slide-item [item]="si" [index]="i"></jhi-admin-upload-form-slide-item>
                <div *ngIf="i < slideItems.length-1" class="" style="border-bottom: 1px solid #dcdcdc;"></div>
            </ng-container>
        </div>
    </div>
</div>
