.image {
  $div-height: 5rem;
  $div-width: 5rem;
  height: $div-height;
  width: $div-width;
  background: #f5f3f6;
  border: 1px solid #d0d0d5 !important;
  border-radius: 0.15rem !important;
  text-align: center;
  vertical-align: middle;
}
.upload-label {
  display: block;
}
