.dashboard {

  background-color: #f5f3f6;
  color: #828599;
  .right{
    background-color: #fff
  }
  .overview-btn {
        position: absolute;
        right: 0px;
        transform: rotate(90deg);
        top: 50px;
        margin-right: -40px;
        cursor: pointer;
        line-height: 10px;
        background-color: #43497b;
  }
}
