<div>
    <div class="container rounded dashboard">
       <div class="row" style="">

         <div class="col-lg-2 bg-v-dark-blue text-color left" style="font-size: small;">
             <jhi-dashboard-navigator></jhi-dashboard-navigator>
         </div>

          <div class="col-lg-7 main-panel mt-3">
                <jhi-dashboard-main></jhi-dashboard-main>
         </div>

         <div class="col-lg-3 right">
             <jhi-dashboard-overview></jhi-dashboard-overview>
         </div>

       </div>
    </div>
</div>
