.slideitem {
  .r-btn {
    background-color: #43497b;
    background-color: #7175d8;
    color: #fff !important;
    margin: auto;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border: none;
  }
  .textfield {
    width: 100%;
//     border: none;
//     border-radius: 0px;
    padding: 0px;
    height: 100%;
    background-color: inherit;
  }
  input:focus {
    box-shadow: none !important;
  }
  .image {
    .r-btn {
      background-color: #ff6b69;
    }
  }
  .label {
    .r-btn {
      background-color: #5ecba1;
      /*      .text {
        font-size: 0.9rem !important;
      }*/
    }
  }
}
