<div class="slideitem py-2" *ngIf="item" >
    <ng-container [ngSwitch]="item.type">
            <div class="row">
                <div class="col-5">
<!--                    <ng-container *ngSwitchCase="'note'">-->
<!--                        <textarea class="form-control textfield" id="description"></textarea>-->
<!--                    </ng-container>-->
                    <ng-container *ngIf="item.type=='note';else non_note">
                        <textarea class="form-control textfield" id="description"></textarea>
                    </ng-container>

                    <ng-template #non_note>
                    <input type="text" class="form-control textfield" placeholder="Enter Label" name="label" [(ngModel)]="item.label">
                    </ng-template>
                </div>
                <div class="col ml-auto" class="{{item.type}}">
                    <ng-container *ngSwitchCase="'image'">
                        <label class="btn btn-primary upload-btn r-btn">Image</label>
                    </ng-container>
                    <ng-container *ngSwitchCase="'video'">
                        <label class="btn btn-primary r-btn"><span class="text">Video</span></label>
                    </ng-container>
                    <ng-container *ngSwitchCase="'label'">
                        <label class="btn btn-primary r-btn"><span class="text">Label</span></label>
                    </ng-container>
                    <ng-container *ngSwitchCase="'inst'">
                        <label class="btn btn-primary r-btn"><span class="text">Instruction</span></label>
                    </ng-container>
                    <ng-container *ngSwitchCase="'note'">
                        <label class="btn btn-primary r-btn"><span class="text">Note</span></label>
                    </ng-container>
                    <ng-container *ngSwitchCase="'checkbox'">
                        <label class="btn btn-primary r-btn"><span class="text">Checkbox</span></label>
                    </ng-container>
                    <svg-icon name="remove_circle_outline" (click)="removeSlideItem()"></svg-icon>
                    <ng-container *ngIf="isLast">
                        <ng-container *ngTemplateOutlet="addslideitemtemplate"></ng-container>
                    </ng-container>
                </div>
            </div>
    </ng-container>

    <ng-template #addslideitemtemplate>
<!--        <fa-icon icon="plus" [ngbPopover]="popContent" placement="right"></fa-icon>-->
        <svg-icon name="add_circle_outline" [ngbPopover]="popContent" placement="right"></svg-icon>
    </ng-template>
    <ng-template #popContent>
        <div popover-append-to-body="true">
            <div (click)="addSlide('image')">Image</div>
            <div (click)="addSlide('video')">Video</div>
            <div (click)="addSlide('label')">Label</div>
            <div (click)="addSlide('inst')">Instruction</div>
            <div (click)="addSlide('note')">Note</div>
            <div (click)="addSlide('checkbox')">Checkbox</div>
        </div>
    </ng-template>
</div>
