.slideitem {
  .upload-btn {
    background-color: #43497b;
    background-color: #7175d8;
    color: #fff !important;
    margin: auto;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}
