<div>
    <div class="container rounded dashboard">
        <div class="row" style="">

            <div class="col-lg-7 main-panel">
                <div class="mt-3">
                    <span style="font-size:x-small;"> Hi There, </span>
                    <span style="font-weight: bold; font-size: small;">Bobba Anil Kumar</span>
                    <!--<jhi-db-main-video></jhi-db-main-video>-->
                    <router-outlet></router-outlet>
                    <router-outlet name="orders"></router-outlet>
                </div>

            </div>

        </div>
    </div>
</div>
