<div class="container p-2" style="overflow-x:hidden;">
    <input type="text" class="input-item" style="width:100%;"/>
    <small class="form-text">Text 01</small>
    <input type="text" class="mt-4 input-item" style="width:100%;" id="name"/>
    <small class="form-text">Text 02</small>
    <div class="row">
        <div class="col-4">
            <div class="image">
                <label class="upload-label">+</label>
            </div>
            <small class="form-text mt-1 pl-3">Image 02345</small>
        </div>
        <div class="col-4">
            <div class="image">
                <label  class="upload-label">+</label>
            </div>
            <small class="form-text mt-1 pl-3">Image 01</small>
        </div>
        <div class="col-4">
            <div class="image">
                <label  class="upload-label">+</label>
            </div>
            <small class="form-text mt-1 pl-3">Image 01</small>
        </div>
    </div>
</div>
