.form-title-project-upload {

    text-align: center;
    font-weight: bold;
    color: #43497B;
    font-size: 1.2rem;
    margin-left: -26rem;
    padding-bottom: 2rem;
}
.form-title-customer-upload {
   
    text-align: center;
    font-weight: bold;
    color: #43497B;
    font-size: 1.2rem;
    margin-top: -19rem;
    margin-left: 6rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 2rem; */
    margin-left: -45px;
}
.label {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    font-size: 0.8rem;
    color: #828599;
    font-weight: bold;
    font-size: 0.7rem;
}
.text-box {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 5rem;
    height:1.6rem;
}
.input-item{
    /* margin: 0; */
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4rem;
    width: 15rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-preview-upload {
    height: 1.8rem;
    width: 7rem;
    border-radius: 0.2rem;
    padding-top: 0.2rem;
    font-size: 0.8rem;
}
.slide {
    margin-top: -16.5rem;
    margin-left: 3.5rem;
    background-color: #F5F3F6;
    padding-top:2rem;
}
.slide-box {
    height: 4rem;
    width: 7rem;
    margin-top: -1rem;
    margin-left: -20rem;
    background-color: gainsboro;
}
.slide-button {
    background-color: #FF6B69;
    margin-left:2rem;
    padding-bottom: 1.2rem;
    height: 1rem;
    width: 6rem;
    border-radius: 0.2rem;
}
.slide-image {
    margin-top: -1rem;
    margin-left: -38rem;
}
.slide-image-upload {
    font-size: 0.9rem;
}
.slide-text {
    margin-top: -2rem;
}
.slide-text-box {
    margin-top: 0.5rem;
    background-color: #5ECBA1;
    margin-left: 2.8rem;
    padding-bottom: 1.2rem;
    height: 1rem;
    width: 6rem;
    border-radius: 0.2rem;
}
.new-slide {
    margin-left: 6.5rem;
    background-color: #fff;
    height: 1.5rem;
    width: 8rem;
    font-size: 0.9rem;
    color:#7175d8;
}
.right-panel {
    background-color: #F5F3F6;
    height: 31rem;
    margin-top: 20rem;
}
.preview-btn{
    font-size: 0.9rem;
    margin-top: 38rem;
    margin-left: -20rem;
    width: 6rem;
    height: 2rem;
    background-color: #43497B;
}
.publish-btn{
    font-size: 0.9rem;
    margin-top: 38rem;
    margin-left: 2rem;
    width: 6rem;
    height: 2rem;
    background-color: #7175D8;
}
