.how-it-works {
    background-color: #fff;
    .jumbo-title {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.0;
        color: #43497B;
      }
      .span-text-color {
        color: #828599;
        font-weight: bold;
        font-size: 0.7rem;
      }
      .row-space {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-bottom: 25px;
      }
      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #F5F3F6;
        background-clip: border-box;
        border-radius: 0.25rem !important;
        height: 18rem;
        width: 16rem;
    }
    .card-title {
        margin-bottom: 0.85rem;
        margin-top: 10rem;
        text-align: center;
        font-weight: bold;
        color: #43497B;
        font-size: 0.9rem;
    }
    .card-text {
        color: #43497B;
        font-weight: bold;
        font-size: 0.6rem;
        text-align: center;
    }
    
}

  