<div class="how-it-works">
    <div class="row mb-3 row-space"></div>
    <div class="row mb-3 row-space"></div>
    <div class="row mb-3 row-space">
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="jumbo-title">How It Works</span>
        </div>
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="span-text-color">You choose The Design. We Do The Rest</span>
        </div>
    </div>

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <div class="container"> 
                    <h5 class="card-title">Choose The Design</h5>
                    <div class="container-text-background"> 
                    1
                    </div> 
                    <p class="card-text">Explore through Our Design Videos Library and select the design you like. You can choose one or more Design videos there is no limit.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
               <div class="container"> 
                    <h5 class="card-title">Make Payment</h5>
                    <div class="container-text-background"> 
                        2
                    </div>
                    <p class="card-text">Make you payment to Our Secured Payment Gateway. You can use Credit Card or Debit Card or Google Pay or PayPal or Monthly Subscription.</p>
              </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
               <div class="container"> 
                    <h5 class="card-title">Upload Photos & Videos</h5>
                    <div class="container-text-background"> 
                        3
                    </div>
                    <p class="card-text">Input Text and Images or Videos and your own music(Optional) using Our Specially Designed Upload Form. It's Easy to use and You will Love it.</p>
              </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
             <div class="container"> 
                    <h5 class="card-title">We Will Do The Rest</h5>
                    <div class="container-text-background"> 
                        4
                    </div>
                    <p class="card-text">And you are done. Just sit back and relax. We will do all the Necessary Things and will send Your Final Video to your mail or whatsapp.</p>
            </div>
            </div>
        </div>
      </div>
    
