<div>
    <div class="row mt-4">
        <h5 style="font-weight: bold;">  <i class="material-icons">desktop_mac</i> Video Designs</h5>
        <div class="col">
            <a class="ml-2 btn btn-primary btn-new" routerLink="/admin/upload/new">
                <span style="font-size: x-small;">+ Add New</span>
            </a>
        </div>
        <div class="row no-gutters">
            <jhi-search (searchEvent)="search($event)"></jhi-search>
        </div>
    </div>
        <div class="row ml-1  mt-4">
            <div class="col-3 card card-box">
                <div>Total Videos</div>
                <div class="card-box-metrics">{{totalVideosCount}}</div>
            </div>
            <div class="col-3 card card-box">
                <div>Views</div>
                <div class="card-box-metrics">{{viewsCount}}</div>
            </div>
            <div class="col-3 card card-box">
                <div>Sales</div>
                <div class="card-box-metrics">{{salesCount}}</div>
            </div>
            <div class="col-3 card card-box">
                <div>Earnings</div>
                <div class="card-box-metrics">{{earningsCount}}</div>
            </div>
    </div>
    <div class="pt-4">
        <jhi-table #table
                   [enableCheckbox]="true"
                   [allowMultiSelect]="false"
                   (getSelectedRows)="onRowSelect($event)"
                   [sqColumnDefinition]="columnDefinition"
                   [tableChange]="this">
        </jhi-table>
    </div>
</div>

<ng-template #overviewTemplate let-data = "data">
    <div>
        Name : {{data?.id}}
        hello123
    </div>
</ng-template>

