<div class="container-fluid bg-white user-upload">
   <div class="row">
    <div class="col-lg ml-5">
        <div class="lead" style="font-weight: bold;">Customer Upload Form</div>
    </div>
   </div>
    <div class="row mb-4">
        <div class="col-5 ml-5 heading-msg">
            <div class="">
                <p>You are Just one step away from Getting Your Awesome Video Just Upload your text and photos</p>
            </div>
        </div>
   </div>
</div>

<div class="container-fluid slide-list">
   <div class="row">
       <!--  col-1 Slides -->
       <div class="col-lg-3 vtext-box mt-4">
            <input type="text" class="input-item" id="name" placeholder="Slide 01"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 02"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 03"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 04"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 05"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 06"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 07"/>
            <input type="text" class="input-item" id="name" placeholder="Slide 08"/>
            <input type="text" class="input-item" id="name" placeholder="Music"/>
            <input type="text" class="input-item" id="name" placeholder="Color Code"/>
            <input type="text" class="input-item" id="name" placeholder="Any Requests"/>
       </div>
       <div class="col-lg-4 slide-items mt-4 pt-3">
            <!--  col-2 SlideItems -->
        <div class="container-fluid">
            <input type="text" class="input-item" style="width:23rem;" id="name"/>
            <small class="form-text">Text 01</small>
            <input type="text" class="mt-4 input-item" style="width:23rem;" id="name"/>
            <small class="form-text">Text 02</small>
            <div class="row">
                <div class="col-4">
                    <div class="image">
                        <img style="height:100%;width:100%;"  src="/image" >
                        <label  class="image-arrow">+</label>
                    </div>
                    <small class="form-text mt-1" style="text-align:center;">Image 01</small>
                </div>
                <div class="col-4">
                    <div class="image">
                        <img style="height:100%;width:100%;"  src="/image" >
                        <label  class="image-arrow">+</label>
                    </div>
                    <small class="form-text mt-1" style="text-align:center;">Image 02</small>
                </div>
                <div class="col-4">
                    <div class="image">
                        <img style="height:100%;width:100%;"  src="/image" >
                        <label  class="image-arrow">+</label>
                    </div>
                    <small class="form-text mt-1" style="text-align:center;">Image 03</small>
                </div>
            </div>
        </div>
       </div>

       <div class="col-lg-5 mt-4 ml-2">
            <!--  col-3 Tutorial Video -->
        <div class="container-fluid">
            <img style="height:100%;width:100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Big_Buck_Bunny_4K.webm/310px-seek%3D116-Big_Buck_Bunny_4K.webm.jpg"></img>
            <div class="container-fluid bg-white tutorial-video mb-2">
                <div class=" row pt-4">
                    <div class="col">
                       Having Trouble Uploading Photos or Text
                    </div>
                </div>
                <div class=" row pt-3">
                    <div class="col">
                        <a class="nav-link btn btn-primary btn-tutorial" routerLink="/">
                            <span>Watch Tutorial</span>
                        </a>
                    </div>
                </div>
                <div class=" row pt-3">
                    <div class="col">
                        <span>or</span>
                    </div>
                </div>
                <div class=" row pt-2">
                    <div class="col">
                        <span>Contact Us on Whatsapp</span>
                        <span style="color:#7175D8;">+91-7093215961</span>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link btn btn-primary btn-submit float-right mb-5" routerLink="/">
                <span>Submit</span>
            </a>
        </div>

    </div>
</div>
