<div>
<!--    // TODO Use mat table instead of manual html-->
<!--    https://stackblitz.com/edit/mat-table-custom?file=app%2Ftable-demo%2Ftable-demo.component.ts-->
    <div class="row no-gutters">
       <h5 style="font-weight: bold;" class="mr-auto"> <i class="material-icons">list</i>Orders</h5>
        <jhi-search (searchEvent)="search($event)"></jhi-search>
    </div>
    <div class="row ml-1  mt-4">
        <div class="col-3 card card-box">
            <div>Total Orders</div>
            <div class="card-box-metrics">1200</div>
        </div>
        <div class="col-3 card card-box">
            <div>Assigned</div>
            <div class="card-box-metrics">580</div>
        </div>
        <div class="col-3 card card-box">
            <div>Not Assigned</div>
            <div class="card-box-metrics">390</div>
        </div>
        <div class="col-3 card card-box">
            <div>Cancelled</div>
            <div class="card-box-metrics">30</div>
        </div>
    </div>
    <div class="pt-4">
        <jhi-table [rowData]="rowData"
               [enableCheckbox]="true"
               [allowMultiSelect]="true"
               (getSelectedRows)="onNotifySelected($event)"
               (onDoubleClick)="onDoubleClick($event)"
               [sqPaginationConfig]="tablePaginationSettings"
               [sqColumnDefinition]="columnDefinition">

                <ng-template #orderStatusTemplate let-element="element" let-column="column">
                    <div class="custom-style-red">
                        <mat-select [ngModel]="currentAction">
                            <mat-option *ngFor="let action of actions" [value]="action.value">
                                {{action.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                </ng-template>

        </jhi-table>
    </div>
<!--    <div class="row mt-4 order-menu-bar">-->
<!--         <div class="col-1 ml-n4">-->
<!--            <div class="custom-control custom-checkbox">-->
<!--                <input type="checkbox" name="cb1">-->
<!--            </div>-->
<!--         </div>-->
<!--        &lt;!&ndash; <div class="col-1"><small>Id#</small></div> &ndash;&gt;-->
<!--         <div class="col-1"><small style="font-weight: bold;">SalesId</small></div>-->
<!--         <div class="col-1"><small style="font-weight: bold;">OrderId</small></div>-->
<!--         <div class="col-2 ml-4"><small style="font-weight: bold;">Name</small></div>-->
<!--         <div class="col-1 ml-4"> <small style="font-weight: bold;">AssignTo</small></div>-->
<!--         <div class="col-1 ml-4"><small style="font-weight: bold;">Status</small></div>-->
<!--         <div class="col-1 ml-4"><small style="font-weight: bold;">TimeLeft</small></div>-->
<!--         <div class="col-1 ml-4"><small style="font-weight: bold;">Action</small></div>-->
<!--    </div>-->


<!--    <div *ngFor="let order of orders">-->
<!--        <div class="row mt-1 order-menu-bar order-row">-->
<!--            <div class="col-1 ml-n4 mt-2">-->
<!--               <div class="custom-control custom-checkbox">-->
<!--                   <input type="checkbox" name="cb1">-->
<!--               </div>-->
<!--            </div>-->
<!--           &lt;!&ndash; <div class="col-1 mt-2"><small>{{vd.id}}</small></div> &ndash;&gt;-->
<!--            <div class="col-1 mt-2"><small>{{order.salesId}}</small></div>-->
<!--            <div class="col-1 mt-2"><small>{{order.orderId}}</small></div>-->
<!--            <div class="col-2 ml-4 mt-2"><small>{{order.name}}</small></div>-->
<!--            <div class="col-1 ml-4 mt-2"> <small>{{order.assignTo}}</small></div>-->
<!--            <div class="col-1 ml-4 mt-2"><small>{{order.orderStatus}}</small></div>-->
<!--            <div class="col-1 ml-4 mt-2"><small>{{order.timeLeft}}</small></div>-->
<!--            <div class="col-1 ml-4 mt-2">-->
<!--                <select class="form-control" id="sel1">-->
<!--                    <option>Design Team</option>-->
<!--                    <option>Marketing Team</option>-->
<!--                    <option>FInance Team</option>-->
<!--                    <option>HR Team</option>-->
<!--                  </select>-->
<!--             </div>-->
<!--       </div>-->
<!--    </div>-->
</div>
