<div class="ml-5">
       <div class="mt-3">
          <a href="#Dashboard" class="text-color"><small>Dashboard</small></a>
       </div>
       <div class="mt-3">
          <a href="#Dashboard" class="text-color"><small>Sales</small></a>
       </div>
       <div class="mt-3">
          <a href="#Dashboard" class="text-color"><small>Subscriptions</small></a>
       </div>
      <!-- <div class="mt-3">
          <a href="/admin/orders" class="text-color"><small>Orders</small></a>
       </div>-->
       <div class="mt-3">
          <a routerLink="/dashboard/orders" class="text-color"><small>Orders</small></a>
       </div>
       <!--<div class="mt-3">
          <a href="/admin/videodesigns" class="text-color"><small>Video Designs</small></a>
       </div>-->
       <div class="mt-3">
          <a routerLink="/dashboard/videodesigns" class="text-color"><small>Video Designs</small></a>
       </div>
       <div class="mt-3">
          <a routerLink="/dashboard/employees" class="text-color"><small>Employees</small></a>
       </div>
       <div class="mt-3">
          <a routerLink="/dashboard/assignments" class="text-color"><small>Assignments</small></a>
       </div>
       <div class="mt-3">
          <a href="#Dashboard" class="text-color"><small>Messages</small></a>
       </div>
       <div class="mt-3">
          <a href="#Dashboard" class="text-color"><small>Customers</small></a>
       </div>
       <div class="mt-5">
          <a href="#Dashboard" class="text-color"><small>Settings</small></a>
       </div>
       <div class="mt-3">
          <a href="#Dashboard" class="text-color"><small>Support</small></a>
       </div>
       <div class="mt-3 mb-5">
          <a href="#Dashboard" class="text-color"><small>More</small></a>
       </div>
</div>
