<div class="ml-3 d-flex flex-column" >
    <div class="mb-5">
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">pie_chart</i>
              <span>Dashboard</span>
          </span>
       </div>
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">multiline_chart</i>
              <span>Sales</span>
          </span>
       </div>
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">subscriptions</i>
              <span>Subscriptions</span>
          </span>
       </div>
       <div class="navitem">
           <a routerLink="/dashboard/orders" class="text-color">
               <i class="material-icons">list</i>
               <span>Orders</span>
           </a>
       </div>
       <div class="navitem">
          <a routerLink="/dashboard/videodesigns" class="text-color">
              <i class="material-icons">desktop_mac</i>
              <span>Video Designs</span>
          </a>
       </div>
       <div class="navitem">
          <a routerLink="/dashboard/employees" class="text-color">
              <i class="material-icons">groups</i>
              <span>Employees</span>
          </a>
       </div>
       <div class="navitem">
          <a routerLink="/dashboard/assignments" class="text-color">
              <i class="material-icons">check_circle</i>
              <span>Assignments</span>
          </a>
       </div>
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">sms</i>
              <span>Messages</span>
          </span>
       </div>
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">people</i>
              <span>Customers</span>
          </span>
       </div>
    </div>
    <div>
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">settings</i>
              <span>Settings</span>
          </span>
       </div>
       <div class="navitem">
          <span class="text-color disabled-item">
              <i class="material-icons">support_agent</i>
              <span>Support</span>
          </span>
       </div>
       <div class="navitem mb-5">
          <span class="text-color disabled-item">
              <i class="material-icons">view_headline</i>
              <span>More</span>
          </span>
       </div>
    </div>
</div>
