.nav-pills  {
    .nav-link.active{
    color: #fff;
    background-color: #FF6B69;
    }
}
.nav-link {
    color: #43497B;
    font-weight: bold;
    border-radius: 0.45rem;
}
.btn-get-started {
    background-color: #7175D8;
    color: #fff;
    font-weight: lighter;
    padding-right: 50px;
    margin:auto;
  }
  