<div class="videodesigns">
  <nav ngbNav #nav="ngbNav" class="nav nav-tabs nav-pills">
        <ng-container *ngFor="let c of categories">
            <ng-container ngbNavItem>
                <a ngbNavLink>{{c.name}}</a>
                <ng-template ngbNavContent>
                    <jhi-videolisting [category]="c"></jhi-videolisting>
                </ng-template>
            </ng-container>
            </ng-container>
            <a class="nav-link btn btn-primary btn-get-started mr-5" routerLink="/" (click)="collapseNavbar()">
                <span btn-get-started>View All</span>
            </a>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

