<div class="videodesigns" id="videodesigns">
    <div class="row mb-3 row-space"></div>
    <div class="row mb-3 row-space">
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="span-text-color">Some of Our</span>
        </div>
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="jumbo-title">Best Sellers</span>
        </div>
    </div>



  <nav ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav nav-tabs nav-pills p-3">
        <ng-container *ngFor="let c of categories">
            <ng-container ngbNavItem>
                <a ngbNavLink><div class="tab-title" [innerHtml]="c.nameFormatted"></div></a>
                <ng-template ngbNavContent>
                    <jhi-videolisting [category]="c"></jhi-videolisting>
                </ng-template>
            </ng-container>
        </ng-container>
            <div class="view-all ml-auto">
                <a class="nav-link btn btn-primary btn-view-all" routerLink="/">
                    <span btn-get-started>View All</span>
                </a>
            </div>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

