<div class="slideitem py-2" *ngIf="item" >
    <ng-container [ngSwitch]="item.type">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control textfield" placeholder="Enter Label" name="label" [(ngModel)]="item.label">
                </div>
                <div class="col ml-auto" class="{{item.type}}">
                    <ng-container *ngSwitchCase="'image'">
                        <label class="btn btn-primary upload-btn r-btn">Upload</label>
                    </ng-container>
                    <ng-container *ngSwitchCase="'label'">
                        <label class="btn btn-primary r-btn"><span class="text">Text Box</span></label>
                    </ng-container>
                    <ng-container *ngIf="isLast">
                        <ng-container *ngTemplateOutlet="addslideitemtemplate"></ng-container>
                    </ng-container>
                </div>
            </div>
    </ng-container>

    <ng-template #addslideitemtemplate>
        <fa-icon icon="plus" [ngbPopover]="popContent" placement="right"></fa-icon>
    </ng-template>
    <ng-template #popContent>
        <div popover-append-to-body="true">
            <div (click)="addSlide('image')">Image Selection</div>
            <div (click)="addSlide('label')">Text Selection</div>
        </div>
    </ng-template>
</div>
