.image {
  $div-height: 5rem;
  $div-width: 5rem;
  height: $div-height;
  width: $div-width;
  background: #f5f3f6;
  border: 1px solid #d0d0d5 !important;
  border-radius: 0.15rem !important;
  text-align: center;
  vertical-align: middle;
}
.upload-label {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: grid;
  align-content: center;
}
.textfield {
  width: 100%;
  border: none;
  border-radius: 0px;
  padding: 0px;
  height: 100%;
}
.textfield:focus {
  box-shadow: none !important;
}

.image-placeholder {
  $div-height: 5rem;
  $div-width: 5rem;
  height: $div-height;
  width: $div-width;
  background: #f5f3f6;
  border: 1px solid #d0d0d5 !important;
  border-radius: 0.15rem !important;
  text-align: center;
  vertical-align: middle;
}
.upload-label {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: grid;
  align-content: center;
}
.textfield {
  width: 100%;
  border: none;
  border-radius: 0px;
  height: 100%;
}
.textfield:focus {
  box-shadow: none !important;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .overlay-text {
  opacity: 1;
}
.image-container {
  position: relative;
  height: 100%;
  width: 100%;
  .overlay-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
      .text {
        color: #FF6B69;
      }
  }
}
