    <ng-container [ngSwitch]="adminItem.type">
        <div class="col pb-2" *ngSwitchCase="'image'">
            <div class="image-placeholder">
                <ng-container *ngIf="item?.s3Url; else upload_tag">
                    <div class="image-container">
                        <img style="height:100%;width:100%;" class="image" src="{{item?.s3Url}}" alt="Preview Image">
                        <div class="overlay-text" (click)="removeFile()">
                            <div class="text">remove</div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #upload_tag>
                    <input type="file" accept="image/*" #fileDropRef id="fileDropRef{{adminItem.id}}"
                           style="width:0px;height:0px;visibility:hidden;" (change)="uploadFile($event)"/>
                    <label for="fileDropRef{{adminItem.id}}" class="upload-label">+</label>
                </ng-template>
            </div>
            <small class="form-text">{{adminItem.label}}</small>
        </div>
        <div class="col-12 pb-2" *ngSwitchCase="'label'">
            <input type="text" class="input-item label shadow" style="width:100%;border:none;" [(ngModel)]="item.itemValue"/>
            <small class="form-text">{{adminItem.label}}</small>
        </div>
        <div class="pb-2"></div>
    </ng-container>
