.search {
  height: 1.5rem;
  font-size: x-small;
}
.btn-new {
  background-color: #7175d8;
  height: 0.2rem;
  font-size: small;
  padding-bottom: 0.8rem;
  color: #fff;
}
.card-employee {
  background-color: #ffffff;
  text-align: center;
  height: 14rem;
  margin-top: rem;
  padding-top: 6rem;
}
.employee-role {
  background-color: #f5f3f6;
  color: #7175d8;
  font-weight: bold;
}
.employee-profile {
  width: 8rem;
  margin-top: -6rem;
  vertical-align: middle;
}
