<div class="price-plan" id="pricing">
    <div class="row mb-3 row-space"></div>
    <div class="row mb-3 row-space"></div>
    <div class="row mb-3 row-space">
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="revolution-text-color">Join The Revolution</span>
        </div>
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="jumbo-title">Find The</span>
            <span class="jumbo-title" style="color:#7175d8;padding-left: 1rem;">Right Plan.</span>
        </div>
        <div class="col-12 d-flex justify-content-center text-center">
            <span class="span-text-color" style="padding-top:1rem">Simple and Flexible pricing options for freelancers
                and design teams.</span>
        </div>
        <div class="col-12 d-flex justify-content-center text-center" style="padding-top: 1rem;">
            <span class="span-text-color">Monthly</span>
            <span class="span-text-color" style="color:#7175d8;padding-left: 1rem;">Yearly (10% Off)</span>

        </div>
    </div>

    <div class="card-deck">
        <div class="card" style="background-color: #FFFFFF;">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">Basic.</h5>
                    <div style="color: #828599; text-align:center;font-weight: bold">
                        <span>$5999/</span>
                        <span style="color: #cdd0df;font-size: 0.8rem;">month</span>
                    </div>
                    <div class="form-group col-12">
                        <hr>
                   </div>
                   <p class="basic-standard-price">10 Video Downloads</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">Unlimited Revisions</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">You can cancel at any time</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Upto 30% Savings</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Add-on Available</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <div class="form-group col-12" style=" margin-top:2.5rem">
                    <hr>
                   </div>
                   <div class="view-all ml-auto">
                    <a class="btn btn-primary btn-play-video" style=" background-color: #7175d8;" routerLink="/">
                        <span>Get Started</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #7175d8;">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title" style="color: #FFF">Professional.</h5>
                    <div style="color: #FFF; text-align:center;font-weight: bold">
                        <span>$7999/</span>
                        <span style="color: #5ECBA1;font-size: 0.8rem;">month</span>
                    </div>
                    <div class="form-group col-12">
                        <hr>
                   </div>
                   <p class="basic-standard-price">20 Video Downloads</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">Unlimited Revisions</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">You can cancel at any time</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Upto 40% Savings</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Add-on Available</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <div class="form-group col-12" style=" margin-top:2.5rem">
                    <hr>
                   </div>
                   <div class="view-all ml-auto">
                    <a class="btn btn-primary btn-play-video" style=" background-color: #5ECBA1;" routerLink="/">
                        <span>Get Started</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #FFFFFF;">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">Standard.</h5>
                    <div style="color: #828599; text-align:center;font-weight: bold">
                        <span>$7999/</span>
                        <span style="color: #cdd0df;font-size: 0.8rem;">month</span>
                    </div>
                    <div class="form-group col-12">
                        <hr>
                   </div>
                   <p class="basic-standard-price">30 Video Downloads</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">Unlimited Revisions</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">You can cancel at any time</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Upto 30% Savings</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Add-on Available</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <div class="form-group col-12" style=" margin-top:2.5rem">
                    <hr>
                   </div>
                   <div class="view-all ml-auto">
                    <a class="btn btn-primary btn-play-video" style=" background-color: #7175d8;" routerLink="/">
                        <span>Get Started</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color:#43497B;">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title" style="color: #FFF">Life Time.</h5>
                    <div style="color: #828599; text-align:center;font-weight: bold">
                        <span>$99999/</span>
                        <span style="color: #FF6B69;font-size: 0.8rem;">one time fee</span>
                    </div>
                    <div class="form-group col-12">
                        <hr>
                   </div>
                   <p class="basic-standard-price">Life Time Downloads</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">Unlimited Revisions</p>
                   <div class="form-group col-12">
                      <hr>
                   </div>
                   <p class="basic-standard-price">You can cancel at any time</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Upto 30% Savings</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Add-on Available</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <p class="basic-standard-price">Two Videos Per day</p>
                   <div class="form-group col-12">
                    <hr>
                   </div>
                   <div class="view-all ml-auto">
                    <a class="btn btn-primary btn-play-video" style=" background-color: #5ECBA1;" routerLink="/">
                        <span>Get Started</span>
                    </a>
                    </div>
            </div>
        </div>



      <!---->
      </div>
</div>

