<div>
    <div class="container-fluid">
       <div class="row ml-5" style="width: 70rem;">

         <div class="col-lg-2 bg-v-dark-blue text-color" style="font-size: small;">
            <jhi-db-left-panel></jhi-db-left-panel>
         </div>

          <div class="col-lg-7 main-panel"> 
            <div class="mt-3">
               <span style="font-size:x-small;"> Hi There, </span>
               <span style="font-weight: bold; font-size: small;">Bobba Anil Kumar</span>
               <!--<jhi-admin-video></jhi-admin-video> -->
               <jhi-employe></jhi-employe>
            </div>
            
         </div>

         <div class="col-lg-3"> 
            <jhi-db-right-panel></jhi-db-right-panel>
         </div>

       </div>
    </div>
</div>