<div>
    <div class="container-fluid bg-white user-upload border rounded">
        <div class="row" *ngIf="!userUploadSuccess">
            <div class="col-6 pt-4" style="background:#F6F6F6;">
                <ng-container *ngIf="hideSubmitPanel">
                    <div class="lead" style="font-weight: bold;">Customer Upload Form</div>
                    <small class="text-muted">Upload your text and photos</small>
                    <div class="">
                        <mat-tab-group #allTabs [(selectedIndex)]="activeTabIndex" (selectedTabChange)="slideChanged($event)">
                            <ng-container *ngFor="let s of adminMedia?.slides;let i = index;">
                                <mat-tab label={{s.slideName}}>
                                    <div style="height:500px; overflow:visible !important;">
                                    <jhi-user-upload-form-slide [adminMediaSlide]="s" [userSlideItems]="item.userSlides[i]?.userSlideItems"></jhi-user-upload-form-slide>
                                    </div>
                                </mat-tab>
                            </ng-container>
                        </mat-tab-group>
                    </div>
                    <div class="form-group row bg-white m-2 p-2 rounded prev-next-bar">
                        <div class="btn mr-auto" style="color:#7175D8;" (click)="gotoPrev()">
                            <fa-icon icon="long-arrow-alt-left" class="px-3"></fa-icon><span class="">Previous</span>
                        </div>
                        <div class="btn ml-auto" style="color:#7175D8;" (click)="gotoNext()">
                            <span class="">Next</span><fa-icon icon="long-arrow-alt-right" class="px-3"></fa-icon>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!hideSubmitPanel">
                    <div class="d-flex align-items-center flex-column justify-content-center h-100">
                        <div class="text-muted d-table text-center my-4">
                            Just One Step More
                        </div>
                        <div class="form-group row mt-2">
                            <div class="btn btn-primary publish-btn mr-3" (click)="saveCustomerUploadForm()">
                                <span class="">Submit</span>
                            </div>
                            <div class="btn btn-danger preview-btn" (click)="cancel()">
                                <span class="">Cancel</span>
                            </div>
                        </div>
                        <div class="text-muted d-table text-center my-4">
                            Click on <strong>Submit</strong> to finish uploading
                            <p>Or click on <Strong>Cancel</Strong> to go back to upload form</p>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-6">
                <div class="pt-3"></div>
                <div class="bg-white tutorial-video my-5 mx-auto text-center">
                    <img class="mt-4 img-fluid img-thumbnail" style="width:100%;" src={{activeSlide?.screenShotS3Url}}>
                    <div class="having-trouble-bar">
                        <small>
                            <span class=".text-muted">Having Trouble While Uploading</span>
                            <a class="px-2">Click here</a>
                        </small>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="userUploadSuccess">
            <div class="row">
                <div class="col-6" style="">
                    <div class="d-flex align-items-center flex-column justify-content-center h-100">
                        <div style="color:#7175D8;">
                            <h3>You are all set.</h3>
                        </div>
                        <div class="text-muted d-table text-center">
                            <h6> Now sit back. We will do the Rest.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cubes3d">
                        <div class="user-upload-close text-muted d-flex" (click)="gotoHome()" style="cursor: pointer;">
                            <span>CLOSE </span><span class="material-icons">close</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
