/* Styles for mat-table Start*/
.mat-column-select {
    overflow: visible; /* Style for displaying checkbox center inside a cell */
}

/*This fix is available in later versions of angular
 * https://github.com/angular/material2/pull/10619
 */
::ng-deep .mat-sort-header-container {
    align-items: center; /* Style for displaying items center inside a cell after sorting */
}

/*.mat-table {
    overflow: auto;
    max-height: 500px;*/ /* Style for restricting maximum height of table - TODO - Need to set the width and height as per application requirements */
/*}*/

.highlight {
    background: #87cefa; /* grey */
}
/* Styles for mat-table end*/

/*Style to keep the label & icon centered in a div - start */
.column-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Style to keep the label & icon centered in a div - end */

/*Style for icon-padding & size - start*/
.icon-align {
    margin: 0 5px 0 5px;
    font-size: 22px;
}
/*Style for icon-padding & size - end*/

/*Styles for fixed header start below*/
.table-container {
    position: relative;
    margin-top: 50px;
}

    .table-container .mat-table {
        overflow: auto;
        /*max-height: 500px;*/ /* Style for restricting maximum height of table - TODO - Need to set the width and height as per application requirements */
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

        .table-container .mat-table .mat-header-row {
            position: absolute;
            width: -webkit-fill-available;
            top: -57px;
            left: 0px;
            right: 18px;
            background: #fff;
        }
/*Styles for Fixed header end above*/
