<div class="mat-elevation-z81 table-container">
    <ng-template cdk-portal #loading="cdkPortal">
        <jhi-loader></jhi-loader>
    </ng-template>
        <mat-table [dataSource]="rowData" matSort>
            <ng-container *ngFor="let column of sqColumnDefinition" matColumnDef="{{column.name}}">

                <ng-container *ngIf="column.name ==='select';then checkbox else nocheckbox"></ng-container>
                <ng-template #checkbox>

                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null; rowSelect()"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-template>
                <ng-template #nocheckbox>
                    <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.disableSorting">
                        <!--For displaying the column label & Icon-->
                        <div class="column-header-content">
                            <span> {{column.displayName}}</span>
                            <mat-icon *ngIf="column.icon" class="icon-align">{{column.icon}}</mat-icon>
                        </div>
                    </mat-header-cell>
    <!--                <mat-cell *matCellDef="let element">-->
    <!--                    {{element[column.name]}}-->
    <!--                </mat-cell>-->
                    <ng-container *ngIf="column.cellTemplate">
                        <mat-cell *matCellDef="let element">
                            <ng-template [ngTemplateOutletContext]="{
                                element: element,
                                column: column,
                                cellValue: element[column.name]
                              }" [ngTemplateOutlet]="column.cellTemplate">
                            </ng-template>
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="!column.cellTemplate">
                        <mat-cell *matCellDef="let element">
                            {{element[column.name]}}
                        </mat-cell>
                    </ng-container>
                </ng-template>

            </ng-container>

            <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnNames;"
                     class="rounded shadow-sm"
                     [ngClass]="{'highlight': selectedRowIndex == row.position}"
                     (dblclick)="doubleClick(row)"
                     (click)="enableCheckbox==false && allowMultiSelect==false ? highlight(row) : false ;selection.toggle(row); rowSelect()">
            </mat-row>
        </mat-table>
        <ng-container *ngIf="sqPaginationConfig && sqPaginationConfig.enablePagination">
            <mat-paginator [pageSize]="sqPaginationConfig.pageSize"
                           [pageSizeOptions]="sqPaginationConfig.pageSizeOptions"
                           [showFirstLastButtons]="sqPaginationConfig.showFirstLastButtons"
                           [length]="total"
                           (page)="pageChange($event)">
            </mat-paginator>
        </ng-container>
</div>
