<div class="row">
    <div class="col-md-4">
        <div class="jumbotron bg-white v-dark-blue">
            <h1 class="jumbo-title">We Have Video Designs For Your Every Moment.</h1>
            <p class="lead">You can select from hundreds of designs and you don't need any software knowledge to view final output.</p>
            <div> <span class="btn btn-primary btn-get-started p-2">Get Started</span><svg-icon name="play_arrow"  [svgStyle]="{ 'width.px':'25', 'fill': '#fff','stroke': 'red' }"></svg-icon><span class="see-action">See it in Action</span></div>
        </div>
    </div>

    <div class="col-md-8">
        <span class="cubes3d img-fluid rounded"></span>
    </div>
</div>
<jhi-videodesigns></jhi-videodesigns>
<jhi-how-it-works></jhi-how-it-works>
<!--<jhi-price-plan></jhi-price-plan>-->
