<div class="row">
    <div class="col-md-4">
        <div class="jumbotron bg-white v-dark-blue">
            <h1 class="jumbo-title">We Have Video Designs For Your Every Moment.</h1>
            <p class="lead">You can select from hundreds of designs and you don't need any software knowledge to view final output.</p>
        </div>
    </div>

    <div class="col-md-8">
        <span class="cubes3d img-fluid rounded"></span>
    </div>
</div>
<jhi-videodesigns></jhi-videodesigns>
<jhi-how-it-works></jhi-how-it-works>
