
.navbar {
  padding: 0.2rem 1rem;
  background-color: #43497B !important;
  height: 60px;
}
.navbar a{
  font-family: Verdana;
  color: white !important;
  font-size: smaller;
}

.custom-btn{
  background-color: #5ECBA1 !important;
}
