<div>
    <div class="mt-4">
       <h5 style="font-weight: bold;"><i class="material-icons">check_circle</i> Assignments</h5>
    </div>
    <div class="row ml-1 mt-4">
        <div class="col-3 card card-box">
            <div>Total Assignments</div>
            <div class="card-box-metrics">{{totalCount}}</div>
        </div>
        <div class="col-3 card card-box">
            <div>Completed</div>
            <div class="card-box-metrics">{{completedCount}}</div>
        </div>
        <div class="col-3 card card-box">
            <div>In Progress</div>
            <div class="card-box-metrics">{{inProgressCount}}</div>
        </div>
        <div class="col-3 card card-box">
            <div>Not Completed</div>
            <div class="card-box-metrics">{{notCompletedCount}}</div>
        </div>
    </div>
    <div class="pt-4">
        <jhi-table #table
                   [enableCheckbox]="true"
                   [allowMultiSelect]="false"
                   (getSelectedRows)="onRowSelect($event)"
                   [sqColumnDefinition]="columnDefinition"
                   [tableChange]="this">
        </jhi-table>
    </div>
</div>
<ng-template #overviewTemplate let-data = "data">
    <div>
        Name : {{data?.id}}
        hello123
    </div>
</ng-template>
<ng-template #actionTemplate let-element="element" let-column="column" let-cellValue="cellValue">
    <div class="custom-style-red">
        <mat-select>
            <ng-container *ngFor="let action of actions">
                <mat-option [value]="action.id" (click)="onActionSelect(action.id, element)">
                    {{action.name}}
                </mat-option>
            </ng-container>
        </mat-select>
    </div>
</ng-template>
