.text-box {
  height: 5rem;
  font-size: x-small;
  background-color: #fff;
}
.btn-new {
  background-color: #ff6b69;
  height: 1.5rem;
  font-size: small;
  padding-bottom: 1.4rem;
  color: #fff;
}
.order-menu-bar {
  font-size: small;
}
.order-menu-label {
  font-weight: bold;
}
.order-row {
  background-color: #fff;
  height: 3rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  /* padding: 0.375rem 0.75rem; */
  font-size: x-small;
  font-weight: bold;
  line-height: 1.8;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.15rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 5rem;
  height: 1.8rem;
  color: #7175d8;
  font-weight: bold;
}
.card-box {
  height: 5rem;
  max-width: 22%;
  margin-right: rem;
  margin-right: 1rem;
  font-size: x-small;
  padding-left: 1.5rem;
  padding-top: 1rem;
}
.card-box-metrics {
  padding-top: 0.5rem;
  font-size: x-large;
  font-weight: bold;
  color: #7175d8;
}
