<div>
    <div class="container" *ngIf="item && item.previewVideoS3Url">
        <div class="item-breadcrumb text-muted mt-5">
            <span class="home"></span>Home </span>/
            <span class="category">{{item.categoryId?.replace('_',' ')}}</span>/
            <span class="item-name">{{item.name}}</span>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="video-wrapper img-thumbnail">
                        <img class="w-100" src="{{item.thumbNailS3Url}}" (click)="playVideo(item.previewVideoS3Url)"></img>
<!--                    <video id="item-{{item.divId}}" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" poster="{{item.thumbNailS3Url}}">-->
<!--                        <source src="{{item.previewVideoS3Url}}" type="video/mp4">-->
<!--                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>-->
<!--                    </video>-->
                </div>
                <div class="lead pt-4 pl-4 video-desc">
                    <div class="section-title">Video Description</div>
                    <div style="color:#828599; font-size: small; margin-top: 1rem;">
                        {{item?.description}}
                    </div>
                    <div style="color:#828599; font-size: small;">
                        <p>Project features</p>
                        <p>After Effects CS5 or above</p>
                        <p>FullHD (1920×1080), 30fps</p>
                        <p>Easy to use</p>
                        <p>Modular structure</p>
                        <p>No plugins required</p>
                        <p>Video tutorial is included</p>
                        <p>PDF tutorial is included</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="border p-1" style="">
                    <div class="lead m-4">
                        <div  style="color:#43497b">{{item?.name}}</div>
                        <div class="lead mt-2" style="color:#43497b; font-weight: bold;"> {{item?.usdPrice | currency:'USD'}}</div>
                        <div style="font-size:x-small;color: #aaabb3">Regular Price + Premium Delivery</div>
                        <ng-container *ngIf="item.usdAdvCustomizationPrice">
                            <div class="custom-control custom-checkbox mt-4 d-flex" style="font-size: small; color: #828599;">
                                <input type="checkbox" class="custom-control-input" id="1">
                                <label class="custom-control-label" for="1">Advanced Customization</label>
                                <span class="ml-auto" style="font-weight: bold;">{{item.usdAdvCustomizationPrice | currency:'USD'}}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.usdPremumDeliveryPrice">
                            <div class="custom-control custom-checkbox mt-2 d-flex" style="font-size: small; color: #828599;">
                                <input type="checkbox" class="custom-control-input" id="2">
                                <label class="custom-control-label" for="2" style="font-size: small;">Premium Delivery (Rush Order)</label>
                                <span class="ml-auto" style="font-weight: bold;">$ {{item.usdPremumDeliveryPrice | currency:'USD'}}</span>
                            </div>
                        </ng-container>

                        <div class="lead mt-4" style="color:#43497b; font-size: small; font-weight: bold;">Turn Around Time</div>
                        <div style="font-size:x-small;color: #aaabb3">2 Days Delivery*</div>
                        <div class="mt-4">
                            <a class="btn btn-primary btn-play-video" style=" background-color: #5ECBA1; width:100%" routerLink="/">
                                <span>Add to Cart</span>
                            </a>
                        </div>
                        <div class="mt-4">
                            <a class="btn btn-primary btn-play-video" style=" background-color: #7175d8; width: 100%;" routerLink="/">
                                <span>Buy Now</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tags pt-4 p-4" *ngIf="item.tagList && item.tagList.length >0">
                    <div class="section-title">Tags</div>
                    <ng-container *ngFor="let tag of item.tagList; let last = last;">
                        <span class="tag rounded">{{tag}}</span><span *ngIf="!last">,</span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
