<div>
    <div class="container" *ngIf="item && item.previewVideoS3Url">
        <div class="item-breadcrumb text-muted mt-5">
            <span class="home">Home</span>
            <span class="category">{{formatCategory(item.categoryId)}}</span>
            <span class="item-name">{{item.name}}</span>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="video-wrapper img-thumbnail">
                        <img class="w-100" src="{{item.thumbNailS3Url}}" (click)="playVideo(item.previewVideoS3Url)"/>
                </div>
                <div class="lead pt-4 pl-4 video-desc">
                    <div class="section-title">Video Description</div>
                    <div style="color:#828599; font-size: small; margin-top: 1rem;">
                        {{item?.description}}
                    </div>
                    <div style="color:#828599; font-size: small;">
                        <p>Project features</p>
                        <p>After Effects CS5 or above</p>
                        <p>FullHD (1920×1080), 30fps</p>
                        <p>Easy to use</p>
                        <p>Modular structure</p>
                        <p>No plugins required</p>
                        <p>Video tutorial is included</p>
                        <p>PDF tutorial is included</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="border p-1" style="">
                    <div class="lead m-4">
                        <div  style="color:#43497b">{{item?.name}}</div>
                        <div class="lead mt-2" style="color:#43497b; font-weight: bold;">
                            <ng-container *ngIf="isIpIndian">
                                {{item.indianPrice - item.indianDiscPrice | currency:'INR'}}<span class="actual-price">{{item.indianPrice | currency:'INR'}}</span>
                            </ng-container>
                            <ng-container *ngIf="!isIpIndian">
                                {{item.usdPrice  - item.usdDiscPrice | currency:'USD'}}<span class="actual-price">{{item.usdPrice | currency:'INR'}}</span>
                            </ng-container>
                        </div>
                        <div style="font-size:x-small;color: #aaabb3">Regular Price</div>
                        <ng-container *ngIf="item.usdAdvCustomizationPrice">
                            <div class="custom-control custom-checkbox mt-4 d-flex" style="font-size: small; color: #828599;">
                                <input type="checkbox" class="custom-control-input" id="advCustomizationPrice" [(ngModel)]="advCustomizationPriceChecked"  (change)="computePrice()">
                                <label class="custom-control-label" for="advCustomizationPrice">Advanced Customization</label>
                                <span class="ml-auto" style="font-weight: bold;">
                                    <ng-container *ngIf="isIpIndian">
                                        {{item.indianAdvCustomizationPrice | currency:'INR'}}
                                    </ng-container>
                                    <ng-container *ngIf="!isIpIndian">
                                        {{item.usdAdvCustomizationPrice | currency:'USD'}}
                                    </ng-container>
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.usdPremumDeliveryPrice">
                            <div class="custom-control custom-checkbox mt-2 d-flex" style="font-size: small; color: #828599;">
                                <input type="checkbox" class="custom-control-input" id="premumDeliveryPrice" [(ngModel)]="premumDeliveryPriceChecked"  (change)="computePrice()">
                                <label class="custom-control-label" for="premumDeliveryPrice" style="font-size: small;">Premium Delivery (Rush Order)</label>
                                <span class="ml-auto" style="font-weight: bold;">
                                    <ng-container *ngIf="isIpIndian">
                                        {{item.indianPremumDeliveryPrice | currency:'INR'}}
                                    </ng-container>
                                    <ng-container *ngIf="!isIpIndian">
                                        {{item.usdPremumDeliveryPrice | currency:'USD'}}
                                    </ng-container>
                                </span>
                            </div>
                        </ng-container>
                        <div class="custom-control mt-2 pt-2 d-flex" style="font-size: small; color: #828599">
                            <label class="" style="font-size: small;">GST</label>
                            <span class="ml-auto" style="font-weight: bold;">
                                    <ng-container *ngIf="pricing">
                                        {{pricing?.gstAmount | currency:'INR'}}
                                    </ng-container>
                                </span>
                        </div>
                        <div class="custom-control mt-2 pt-2 d-flex" style="font-size: small; color: #828599;border-top: 1px solid;">
                            <label class="" style="font-size: small;">Total Amount</label>
                            <span class="ml-auto" style="font-weight: bold;">
                                    <ng-container *ngIf="pricing">
                                        {{pricing?.totalAmount | currency:'INR'}}
                                    </ng-container>
                                </span>
                        </div>

                        <div class="lead mt-4" style="color:#43497b; font-size: small; font-weight: bold;">Turn Around Time</div>
                        <div style="font-size:x-small;color: #aaabb3">2 Days Delivery*</div>
                        <div class="mt-4">
                            <a class="btn btn-primary btn-play-video" style=" background-color: #5ECBA1; width:100%" routerLink="/">
                                <span>Add to Cart</span>
                            </a>
                        </div>
                        <div class="mt-4">
                            <div class="btn btn-primary btn-play-video" style=" background-color: #7175d8; width: 100%;" (click)="buyNow()">
                                <span>Buy Now</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tags pt-4 p-4" *ngIf="item.tagList && item.tagList.length >0">
                    <div class="section-title">Tags</div>
                    <ng-container *ngFor="let tag of item.tagList; let last = last;">
                        <span class="tag rounded">{{tag}}</span><span *ngIf="!last">,</span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template cdk-portal #buyNowTemplate="cdkPortal">
    <div style="color: #fff;">Initializing payment...</div>
</ng-template>
