.search {
  height: 1.5rem;
  font-size: x-small;
}
.btn-new {
  background-color: #ff6b69;
  height: 1.5rem;
  font-size: small;
  padding-bottom: 1.4rem;
  color: #fff;
}
.menu-bar {
  font-size: small;
  font-weight: bold;
}
.video-row {
  background-color: #fff;
  height: 3rem;
}
