<div>
    <div class="mt-4">
       <h5 style="font-weight: bold;">Video Designs</h5>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="text" class="form-control search" id="search" placeholder="search...">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-new ml-5" [disabled]="disabled">
                <span style="font-size: x-small;">+ Add New</span>
            </button>
        </div>
    </div>
    <div class="row mt-4 menu-bar">
         <div class="col-1 ml-n4">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="cb1" name="cb1">
            </div>
         </div>
         <div class="col-1"><small>Id#</small></div>
         <div class="col-1 ml-1"><small>Name</small></div>
         <div class="col-1 ml-5"><small>Created</small></div>
         <div class="col-1 ml-5"><small>Modified</small></div>
         <div class="col-1 ml-5"> <small>Views</small></div>
         <div class="col-1 ml-4"><small>Sales</small></div>
         <div class="col-1 ml-4"><small>Earnings</small></div>  
    </div>

    <div *ngFor="let vd of videoDesigns">
        <div class="row mt-1 menu-bar video-row">
            <div class="col-1 ml-n4 mt-2">
               <div class="custom-control custom-checkbox">
                   <input type="checkbox" id="cb1" name="cb1">
               </div>
            </div>
            <div class="col-1 mt-2"><small>{{vd.id}}</small></div>
            <div class="col-1 ml-1 mt-2"><small>{{vd.name}}</small></div>
            <div class="col-1 ml-5 mt-2"><small>{{vd.created}}</small></div>
            <div class="col-1 ml-5 mt-2"><small>{{vd.modified}}</small></div>
            <div class="col-1 ml-5 mt-2"> <small>{{vd.views}}</small></div>
            <div class="col-1 ml-4 mt-2"><small>{{vd.sales}}</small></div>
            <div class="col-1 ml-4 mt-2"><small>{{vd.earnings}}</small></div>  
       </div>

    </div>

    

  

</div>